In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/basketball/nba.sqlite
/kaggle/input/basketball/csv/other_stats.csv
/kaggle/input/basketball/csv/draft_history.csv
/kaggle/input/basketball/csv/team_details.csv
/kaggle/input/basketball/csv/player.csv
/kaggle/input/basketball/csv/draft_combine_stats.csv
/kaggle/input/basketball/csv/team_info_common.csv
/kaggle/input/basketball/csv/common_player_info.csv
/kaggle/input/basketball/csv/team_history.csv
/kaggle/input/basketball/csv/game.csv
/kaggle/input/basketball/csv/game_summary.csv
/kaggle/input/basketball/csv/officials.csv
/kaggle/input/basketball/csv/game_info.csv
/kaggle/input/basketball/csv/line_score.csv
/kaggle/input/basketball/csv/play_by_play.csv
/kaggle/input/basketball/csv/team.csv
/kaggle/input/basketball/csv/inactive_players.csv

In [3]:
import sqlite3 as sql
print("ready")

ready

In [4]:
path = "/kaggle/input/basketball/nba.sqlite"
conn = sql.connect(path)
print("database connected")

database connected

In [5]:
t1 = pd.read_sql_query("Select * from player",conn)
print(t1)

           id            full_name first_name     last_name  is_active
0       76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1       76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2       76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3          51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4        1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0
...       ...                  ...        ...           ...        ...
4810  1627790           Ante Zizic       Ante         Zizic          0
4811    78647             Jim Zoet        Jim          Zoet          0
4812    78648            Bill Zopf       Bill          Zopf          0
4813  1627826          Ivica Zubac      Ivica         Zubac          1
4814    78650           Matt Zunic       Matt         Zunic          0

[4815 rows x 5 columns]

In [6]:
q1 = """
select season, count(distinct team_id) as count_teams
from draft_history
group by season
order by count_teams limit 5;
"""

r1 = pd.read_sql(q1,conn)
print(r1)

  season  count_teams
0   1955            8
1   1956            8
2   1957            8
3   1958            8
4   1959            8

In [8]:
# where the players are coming from?

q2 = """
select team_name, count(distinct person_id) as total_drafter
from draft_history
group by team_name
order by total_drafter
limit 15;
"""

r2 = pd.read_sql(q2, conn)
print(r2)

       team_name  total_drafter
0        Huskies              5
1        Ironmen              7
2     Blackhawks             10
3           Jets             10
4        Packers             15
5        Zephyrs             15
6        Bobcats             20
7       Pelicans             22
8        Bombers             24
9   Steamrollers             24
10         Stags             32
11      Capitols             33
12     Olympians             36
13       Thunder             41
14       Raptors             45

In [10]:
#what percentage of matches won by home team?

q3 = """
select (count(*)*100.0)/(select count(*) from game) as win_percentage
from game
where wl_home = "W";
"""

r3 = pd.read_sql(q3, conn)
print(r3)

   win_percentage
0       61.872508

In [14]:
#which team has had the most inactive players?

q4 = """
select team_id,
count(*) as inactive_players_count
, rank() over (order by count(*) desc) as rnk
from inactive_players
group by team_id
limit 1
"""

r4 = pd.read_sql(q4, conn)
print(r4)

      team_id  inactive_players_count  rnk
0  1610612739                    4258    1